.frame {
  position: fixed;
  width:  80%;
  height: 80%;
  left: 10%;
  top: 10%;
}
.frame h2 {
  font-size: 40pt;
}

.frame h3 {
  font-size: 30pt;
}

.frame,
.buttons,
input.buttons,
.buttons button {
  font-size: 25pt;
}

.funny {
  visibility: hidden;
}